PyQt5 >= 5.15.10
PyQtWebEngine >= 5.15.6
torch ~= 1.10.0
transformers >= 4.34.1
sentence-transformers >= 2.2.2
spicy >= 0.16.0
bs4 <= 0.0.1
pandas >= 2.1.2
scikit-learn
sentencepiece >= 0.1.94
torchvision >= 0.10.1
# python -m pip install pypiwin32
googletrans >= 3.0.0
PyPDF2 >= 3.0.1